{:lint-as {nubank.workspaces.core/defcard              cljs.core/def
           nubank.workspaces.core/deftest              cljs.core/def

           promesa.core/let                            cljs.core/let}
 :linters {:unused-binding {:exclude-destructured-keys-in-fn-args true}}}
